.DS_STORE
.vagrant
public_html_backup_20181108
*.pdf
*.doc
public/uploads/edition/384/mstile-150x150.png
public/img/favicon - Copy/android-icon-144x144.png
public/img/favicon - Copy/android-icon-192x192.png
public/img/favicon - Copy/android-icon-36x36.png
public/img/favicon - Copy/android-icon-48x48.png
public/img/favicon - Copy/android-icon-72x72.png
public/img/favicon - Copy/android-icon-96x96.png
public/img/favicon - Copy/apple-icon-114x114.png
public/img/favicon - Copy/apple-icon-120x120.png
public/img/favicon - Copy/apple-icon-144x144.png
public/img/favicon - Copy/apple-icon-152x152.png
public/img/favicon - Copy/apple-icon-180x180.png
public/img/favicon - Copy/apple-icon-57x57.png
public/img/favicon - Copy/apple-icon-60x60.png
public/img/favicon - Copy/apple-icon-72x72.png
public/img/favicon - Copy/apple-icon-76x76.png
public/img/favicon - Copy/apple-icon-precomposed.png
public/img/favicon - Copy/apple-icon.png
public/img/favicon - Copy/browserconfig.xml
public/img/favicon - Copy/favicon-16x16.png
public/img/favicon - Copy/favicon-32x32.png
public/img/favicon - Copy/favicon-96x96.png
public/img/favicon - Copy/favicon.ico
public/img/favicon - Copy/manifest.json
public/img/favicon - Copy/ms-icon-144x144.png
public/img/favicon - Copy/ms-icon-150x150.png
public/img/favicon - Copy/ms-icon-310x310.png
public/img/favicon - Copy/ms-icon-70x70.png
nbproject/private/private.xml
*.log
