/* here you can put your own css to customize and override the theme */

span.compulsary { color: #e7505a; }

label {
    font-weight: 600;
}

.table-scrollable .dataTable td>.btn-group open {
    left: -40px;
}

::selection {
  background: yellow; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: yellow; /* Gecko Browsers */
}

.hidden-input-event,
.hidden-input-edition,
.hidden-input-race,
.hidden-input-club,
.hidden-input-sponsor,
.hidden-input-user,
.hidden-input-newsletter
{
    display: none;
}

.mt-checkbox-inline {
    padding: 10px 0 0;
}