a {
    color: #de5842;
}

a:hover {
    color: #bf4b37;
}

.page-header .page-header-top .top-menu .navbar-nav>li.dropdown-dark .dropdown-menu .dropdown-menu-list>li a>i, 
.page-header .page-header-top .top-menu .navbar-nav>li.dropdown-dark .dropdown-menu.dropdown-menu-default>li a>i {
    color: #e97765;
}

.generic-content-container {
    padding: 20px;
    mergin-bottom: 30px;
    background-color: #fff;
}

.input-group-addon>i {
    color: #666;
}


/* PROFILE SIDEBAR */
.sidebar-portlet {
  padding: 8px 0 0 0 !important; }

.sidemenu {
  margin-top: 0;
  padding-bottom: 8px; }

.sidemenu ul li {
  border-bottom: 1px solid #f0f4f7; }

.sidemenu ul li:last-child {
  border-bottom: none; }

.sidemenu ul li a {
  color: #93a3b5;
  /*font-size: 16px;*/
  font-weight: 400; }

.sidemenu ul li a i {
  margin-right: 8px;
  font-size: 16px; }

.sidemenu ul li a:hover {
  background-color: #fafcfd;
  color: #de5842; }

.sidemenu ul li.active a {
  color: #de5842;
  background-color: #f6f9fb;
  border-left: 2px solid #de5842;
  margin-left: -2px; }
